---
import BaseLayout from "../../layouts/BaseLayout.astro";

const allPosts = await Astro.glob("../blog/posts/*.{md,mdx}");
const tags = [
  ...new Set(
    allPosts
      .flatMap((post) => post.frontmatter.tag)
      .map((x) => (x === undefined ? "noTag" : x))
  ),
];
console.log(tags);
---

<BaseLayout title={"Tag Index"}>
  <div class="pt-20 max-w-[max(75%,28rem)] mx-auto">
    <ul class="list-disc">
      {
        tags.map((tag) => (
          <li class="tag">
            <a href={`/tags/${tag}`}>{tag}</a>
          </li>
        ))
      }
    </ul>
  </div>
</BaseLayout>
