---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";
import Showcase from "../components/Showcase.astro";
import About from "../components/About.astro";
import "tippy.js/dist/tippy.css";
import "tippy.js/themes/light.css";
import Splash from "../components/Splash.astro";

// interface Props {
//   showSplash?: boolean;
// }

// const { showSplash = true } = Astro.props as Props;
---

<BaseLayout
  showHeader={true}
  useDefault={false}
  CMS="https://identity.netlify.com/v1/netlify-identity-widget.js"
>
  <div class="max-w-[max(80%,30rem)] mx-auto px-2 sm:px-0">
    <Hero />
    <About />
    <Showcase />
    <Splash />
  </div>

  <script>
    declare global {
      interface Window {
        netlifyIdentity: any;
      }
    }
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", (user: any) => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>
</BaseLayout>
